.botaoSubmit {
    display: flex;
    justify-content: space-around;
    background-color: #5c0511;
    font-size: 18px;
    color: #fffdf8;
    font-weight: 700;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    width: 150px;
}