.menu {
    background-color: var(--bege);
    /* acima, direita, abaixo, esquerda */
    padding: 0 70px;
    display: grid;
    place-items: center;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 42%);
    grid-area: header;
}

.navMenu {
    width: 100%;
    max-width: 1440px;
}

.navMenu {
    list-style: none;
    font-size: 26px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navMenu a,
.navMenu a:visited {
    color: var(--preto);
    text-decoration: none;
    transition: 1.5s ease color;
}

.navMenu a:hover {
    color: var(--laranja);
}

.navMenu .logoBD {
    font-family: 'Bilbo Swash Caps', cursive;
    font-weight: initial;
    font-size: 36px;
}